@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=WnznHAc5bAfYB2QRah7pcpNvOx-pjRV6SIG7QzRovkjk9rNqKKBk0Xtzp41A0yz_HjDFIsqWXr7FxwEyOp466HOc8g&skey=7833cd5b856b60c9&v=v23) format('woff');
}
