@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=WnznHAc5bAfYB2QRah7pcpNvOx-pjSx6SIG7djQM0U3q4pdICoFC81tTh61g_A&skey=7833cd5b856b60c9&v=v23) format('woff');
}
